@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff !important;
  font-family: 'Raleway', sans-serif;
}

/*alert component*/
.alert-container {
  position: fixed;
  right: 0;
  top: 12%;
}

.alert {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem 0.75rem !important;
  padding-left: 1rem !important;
  font-family: 'Zen Maru Gothic', sans-serif;
}

.alert-btn {
  border: none !important;
  background: transparent !important;
  font-size: 1rem !important;
  padding: 0 !important;
  color: #fff !important;
}

.alert-btn:focus {
  box-shadow: none !important;
}

.router-link {
  text-decoration: none;
}

/*Navbar Part*/
.btn-gradient-bg {
  background-image: linear-gradient(
    to right top,
    #4a5ac2,
    #455cc4,
    #415ec6,
    #3b60c8,
    #3562ca,
    #3161ce,
    #2d61d2,
    #2860d6,
    #295cdc,
    #2d58e2,
    #3453e7,
    #3d4deb
  );
}

.login-btn {
  margin-left: 1rem !important;
}

.btn-gradient-bg:hover {
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.5);
}

.nav-link {
  color: #343a40 !important;
}

/*Body Part*/
.body-container {
  padding-top: 2rem;
}

/*first Part*/
.body-first-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.body-first-details-row {
  padding-left: 2rem;
  align-items: center;
}

.body-first-details-col p {
  font-size: 1.25rem;
  margin-bottom: 0rem;
  font-family: 'Raleway', sans-serif;
}

.body-first-details-col h2 {
  font-size: 3.5rem;
  color: #343a40;
  text-shadow: 4px 4px #00000021;
  font-family: 'Fredoka One', cursive;
}

/*second Part*/
.body-second-part {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 1rem;
  padding: 2rem 4rem;
  position: relative;
}

.about-wave {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 120%;
  left: 0;
}

.about-us-header {
  font-family: 'Fredoka One', cursive;
  color: #969797;
  text-shadow: 4px 4px #00000021;
  font-size: 2.5rem;
}

.body-second-details {
  padding-top: 3rem;
}

.body-second-details p {
  font-family: 'Raleway', sans-serif;
  color: #343a40;
  font-size: 1rem;
}

.about-perks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  padding-top: 1.5rem;
}

.about-perks {
  padding: 0 4rem;
  padding-left: 0rem !important;
}

.perk {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
  padding-top: 1rem !important;
  align-items: center;
  color: #343a40;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: 0.3s ease-in-out;
}

.gradient-hover-perk {
  background-image: linear-gradient(
    to right top,
    #3d3d8c,
    #3b4294,
    #38469c,
    #344ba4,
    #2f50ac,
    #2650b7,
    #1a50c1,
    #0050cc,
    #0049db,
    #0041e8,
    #0035f4,
    #0022ff
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 20px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.perk:hover > .gradient-hover-perk {
  opacity: 1;
}

.perk:hover > .perk-header {
  color: #fff;
  transition: 0.3s ease-in-out;
}

.perk:hover > .perk-text {
  color: #fff;
  transition: 0.3s ease-in-out;
}

.digital-perk {
  margin-top: 4rem;
}

.system-perk {
  margin-top: 2rem !important;
  padding-top: 1.5rem !important;
}

.sync-perk {
  padding-top: 2rem !important;
}

.perk h5 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  z-index: 1;
}

.perk p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  color: #343a40;
  letter-spacing: 1px;
  z-index: 1;
}

.perk-svg {
  height: 100px;
  width: 100px;
  z-index: 1;
}

.blob-container {
  position: relative;
}

/*Third Part*/
.body-third-part {
  margin: 3rem auto;
  padding-bottom: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin-top: 0 !important;
  padding-top: 7rem !important;
}

.sms-wave {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 6.85%;
  left: 0;
  height: 170%;
}

.body-third-part-details {
  display: flex;
  flex-direction: column;
  padding-top: 6em;
}

.body-third-part-details h2 {
  font-family: 'Fredoka One', cursive;
  color: #fff;
  font-size: 2.5rem;
  text-shadow: 4px 4px #00000021;
  margin: 0 3rem;
  margin-bottom: 0.5rem;
}

.body-third-part-details h6 {
  font-family: 'Fredoka One', cursive;
  color: #fff;
  font-size: 1.25rem;
  text-transform: capitalize;
  margin: 0 3rem;
  margin-bottom: 0.5rem;
}

.body-third-part-details p {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 0.9rem;
  margin: 0 3rem;
}

/*Honey comb grid part*/
.honeycomb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  transform: translateY(80px);
}

.honeycomb-cell {
  flex: 0 0 250px;
  max-width: 140px;
  height: 70px;
  margin: 35px 6px 10px;
  position: relative;
  padding: 0.5rem;
  text-align: center;
  z-index: 1;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s all ease-in-out;
}

.honeycomb-cell:hover {
  transform: scale(1.15) !important;
  transition: 0.2s all ease-in-out !important;
}

.honeycomb-cell img {
  height: 40px;
  width: 40px;
}

.honeycomb-background {
  background-color: #eeecec;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}

.honeycomb-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.honeycomb-text {
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem !important;
  margin-bottom: 0;
  color: #fff !important;
  margin: 0 !important;
  padding-top: 0 !important;
}

.honeycomb-cell::before,
.honeycomb-cell::after {
  content: '';
}

.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-background {
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}

/*body third part*/
/*WHY us part*/
.whyus-container {
  gap: 1rem;
  align-items: center;
}

.whyus-headings {
  font-family: 'Raleway', sans-serif;
}

.whyus-headings h2 {
  font-family: 'Fredoka One', cursive;
  color: #969797;
  font-size: 2.5rem;
}

.whyus-headings h6 {
  font-family: 'Fredoka One', cursive;
  color: #343a40;
  font-size: 1.25rem;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: 1px;
}

.whyus-headings p {
  letter-spacing: 1px;
  font-weight: bold;
  color: #969797;
}

.whyus-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.whyus-details p {
  margin-bottom: 0;
  color: #343a40;
  font-weight: bold;
  font-size: 0.9rem;
}

.whyus-right {
  height: 20px;
  width: 20px;
}

.whyus-icon {
  width: 80px;
  height: 80px;
}

.hover {
  transition: 0.3s ease-in-out;
}

.hover:hover {
  transform: scale(1.25);
}

.whyus-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.whyus-arrows {
  display: flex;
  gap: 8rem;
}

.whyus-gears {
  display: flex;
  gap: 2rem;
}

/*Body Fifth part*/
.body-fifth-part {
  position: relative;
}

.body-fifth-video {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 100%;
  object-fit: cover;
}

.body-fifth-header {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 1.25rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.btn-body-fifth_1st {
  font-family: 'Raleway', sans-serif;
  border-radius: 25px !important;
  background-color: #fff !important;
  color: #0022ff !important;
  border: 2px solid #fff !important;
  outline: none;
  transition: 0.3s ease-in-out;
  box-shadow: inset 0 0 0 0 #0022ff;
}

.btn-body-fifth_1st:hover {
  transition: 0.3s ease-in-out;
  box-shadow: inset 0 200px 0 0 #0022ff;
  color: #fff !important;
}

.btn-body-fifth_1st:focus {
  color: #0022ff !important;
}

.btn-body-fifth_2nd {
  font-family: 'Raleway', sans-serif;
  border-radius: 25px !important;
  background-color: #0022ff !important;
  color: #fff !important;
  border: 2px solid #fff !important;
  outline: none;
  transition: 0.4s ease-in-out;
  box-shadow: inset 0 0 0 0 #fff;
}

.btn-body-fifth_2nd:hover {
  transition: 0.4s ease-in-out;
  box-shadow: inset 0 200px 0 0 #fff;
  color: #0022ff !important;
}

.btn-body-fifth_2nd:focus {
  color: #fff !important;
}

/*Login Screen*/
.login-screen-container {
  background-color: #f0f2f5;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-screen-header {
  font-family: 'Fredoka One', sans-serif;
  position: fixed;
  left: 2%;
  top: 0;
  z-index: 1;
  font-size: 10rem;
  color: #ffffff;
  opacity: 0.85;
}

.login-header {
  font-family: 'Zen Maru Gothic', sans-serif;
  color: #305bcf;
  letter-spacing: 1px;
}

.login-screen {
  margin-right: auto !important;
  margin-left: auto !important;
  max-width: 750px;
  width: 80vw;
  background-color: #fff;
  border-radius: 15px;
  z-index: 2;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

.login-blob {
  left: 4%;
  z-index: 0;
  position: absolute;
  top: 7%;
  opacity: 0.5;
}

.login-screen-form {
  padding: 2rem !important;
}

.form-floating {
  border-bottom: 2px solid #f2f2f2 !important;
}

.form-floating > label {
  padding-left: 0.5rem !important;
  padding-bottom: 0rem !important;
  font-size: 1rem;
  color: #0001ff !important;
  font-family: 'Zen Maru Gothic', sans-serif;
}

.form-floating > .form-control {
  padding-bottom: 0rem !important;
  padding-left: 0.5rem !important;
  background-color: #fff;
  border: none;
}

.form-control:focus {
  box-shadow: none !important;
  background-color: #fff !important;
  border-bottom: 2px solid #0001ff !important;
}

.login-log-btn {
  background-image: linear-gradient(
    to right top,
    #1344f0,
    #3845f1,
    #4c45f2,
    #5d46f2,
    #6b47f3,
    #6c43f4,
    #6c3ff6,
    #6d3bf7,
    #5f30f9,
    #4e24fb,
    #3716fd,
    #0001ff
  );
  color: #fff !important;
  border: none !important;
  font-family: 'Raleway', sans-serif;
  max-width: 150px;
}

.login-mobile-logo {
  display: none;
}

.container-carousel {
  padding: 2rem !important;
  background-image: linear-gradient(
    to right top,
    #1344f0,
    #3845f1,
    #4c45f2,
    #5d46f2,
    #6b47f3,
    #6c43f4,
    #6c3ff6,
    #6d3bf7,
    #5f30f9,
    #4e24fb,
    #3716fd,
    #0001ff
  );
  width: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.carousel-indicators button {
  border-radius: 50% !important;
  width: 8px !important;
  height: 8px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none !important;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vw;
  max-height: 300px;
}

/*Register Screen*/
.register-headers {
  text-align: center;
  padding-bottom: 2rem;
  font-family: 'Fredoka One', cursive;
}

.border-focus:focus {
  border: 1px solid #0001ff !important;
}

.register-form {
  margin-left: auto;
  margin-right: auto;
}

.register-submit-btn {
  border-radius: 25px !important;
  background-color: #fff !important;
  color: #0022ff !important;
  border: 2px solid #0022ff !important;
  outline: none;
  transition: 0.3s ease-in-out;
  box-shadow: inset 0 0 0 0 #0022ff;
  display: flex;
  align-items: center;
}

.register-submit-btn:hover {
  transition: 0.3s ease-in-out;
  box-shadow: inset 0 200px 0 0 #0022ff;
  color: #fff !important;
}

/*Dashboard Part*/
.dashboard-avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.dashboard-header-wlc {
  font-family: 'Fredoka One', cursive;
  text-shadow: 4px 4px #0000001c;
  color: #343a40;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 100%;
  border-bottom: 1.25px solid rgba(0, 0, 0, 0.1);
}

.dashboard-col {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  gap: 0.5rem;
}

.dashboard-actions {
  display: flex;
}

.dashboard-thead {
  background-image: linear-gradient(
    to right top,
    #4a5ac2,
    #455cc4,
    #415ec6,
    #3b60c8,
    #3562ca,
    #3161ce,
    #2d61d2,
    #2860d6,
    #295cdc,
    #2d58e2,
    #3453e7,
    #3d4deb
  );
  color: #fff;
}

.table > :not(:first-child) {
  border-top: none !important;
}

.dashboard-tr {
  border: 1.25px solid #e8e8e8;
}

.dashboard-table-teacher {
  border: none !important;
  background-color: transparent !important;
  color: #55595c !important;
  font-size: 0.9rem !important;
  cursor: pointer;
}

.dashboard-table-teacher:hover {
  text-decoration: underline !important;
  color: #0022ff !important;
}

.dashboard-user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8.25rem 2rem;
}

.school-profile-details {
  text-align: center;
  padding-top: 1rem;
}

.school-profile-details h3 {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.school-profile-details p {
  margin-bottom: 0.25rem;
  font-family: 'Zen Maru Gothic', sans-serif;
}

/*Dashboard Actions*/
.dashboard-btn {
  color: #343a40 !important;
  background-color: #fff !important;
  text-transform: capitalize !important;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 1rem !important;
  padding: 8px 16px !important;
  display: flex !important;
  gap: 0.25rem;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.dashboard-btn::after {
  border-bottom: 1px solid #0022ff;
}

.dashboard-btn:focus {
  box-shadow: none !important;
}

/*Delete Modal*/
.modal-content {
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.1);
}

.dlt-modal-warning {
  display: grid;
  gap: 1.25rem;
  align-items: center;
  grid-template-columns: 1fr auto;
  padding: 1rem 2rem;
  background-color: rgba(255, 0, 0, 0.274);
  border-left: 4px solid red;
}

/*Teacher Profile*/
.teacher-profile-row {
  padding-top: 1.5rem;
}

.teacher-actions-col {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 0.75rem;
  align-items: center;
}

/* Add Subject Form*/
.add-subject-row {
  align-items: center;
  padding: 1.5rem;
  background-color: #e8e8e8;
  font-size: 0.9rem;
  flex-direction: column;
}

.add-subject-btn {
  border-radius: 25px !important;
  background-color: #fff !important;
  color: #0022ff !important;
  display: flex !important;
  align-items: center !important;
  font-size: 0.9rem !important;
  gap: 0.5rem !important;
  transition: 0.3s ease-in-out;
}

.add-subject-btn:hover {
  background-color: #5626f5 !important;
  color: #fff !important ;
  transition: 0.3s ease-in-out;
}

.add-subject-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

/*Student Details Part*/
.teacher-profile-container {
  position: relative;
}

.student-details-popup {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vw;
}

.subject-details-col {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-family: 'Zen Maru Gothic', sans-serif;
}
