@media only screen and (max-width: 1311px) {
  .body-third-part {
    display: flex;
    flex-direction: column;
  }
  .body-third-part-details {
    text-align: center;
  }
  .about-perks {
    padding-right: 2rem !important;
  }
}

@media only screen and (max-width: 1150px) {
  /*About us Part*/
  .body-second-part {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .sms-wave {
    top: 0;
  }
}

@media only screen and (max-width: 992px) {
  /* Navbar Part*/
  .login-btn {
    margin-left: 3rem !important;
    margin-bottom: 1rem !important;
    margin-top: 0.5rem;
    padding: 0.5rem !important;
    width: 25% !important;
  }

  .nav-link {
    padding-left: 0.75rem !important;
    margin-left: 3rem;
  }

  .navbar {
    position: absolute !important;
    width: 100%;
  }

  .navbar-toggler {
    border-color: #fff !important;
    padding: 0 !important;
  }

  .navbar-toggler-icon {
    transition: 0.3s ease-in-out;
  }

  .navbar-toggler-icon:hover {
    transition: 0.4s ease-in-out;
    transform: rotate(90deg);
  }

  .navbar-toggler:focus {
    box-shadow: none !important;
  }

  .body-container {
    padding-top: 8rem;
  }

  /*About us Part*/
  .body-second-part {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    padding-top: 1rem !important;
  }
  .about-us-img {
    width: 60%;
  }
  .body-second-details {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .about-perks {
    display: flex;
    flex-direction: column;
    margin: 0 4rem;
  }
  .system-perk {
    margin-top: 0 !important;
  }
  .about-wave {
    height: 100%;
  }
  .sms-wave {
    height: 140%;
  }

  /*Why us Section*/
  .whyus-container {
    flex-direction: column;
  }

  /*Footer Section*/
  .school-digitization {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.25rem;
  }
  .school-digitization-btns {
    justify-content: center !important;
  }

  /*Register Part*/
  .register-headers {
    padding-top: 6rem;
  }
}

@media only screen and (max-width: 772px) {
  .body-third-part {
    padding-top: 0 !important;
  }
  /*Login Screen Section*/
  .login-screen {
    max-width: 450px;
    width: 90vw;
  }
  .container-carousel {
    display: none;
  }
}

@media only screen and (max-width: 725px) {
  /*Honey Comb section*/
  .honeycomb-cell {
    max-width: 120px;
    height: 60px;
    margin: 30px 4px 8px;
  }
  .honeycomb-text {
    font-size: 0.6rem !important;
  }
  .honeycomb-cell img {
    height: 30px;
    width: 30px;
  }

  /*footer section*/
  .footer-links-container {
    flex-direction: column;
    gap: 1rem;
    padding-left: 2rem;
  }
  .footer-links {
    padding-left: 0.75rem !important;
  }
}

@media only screen and (max-width: 700px) {
  /*about part*/
  .body-second-details {
    padding-left: 0;
    padding-right: 0;
  }
  .about-us-img {
    width: 100%;
  }

  .body-first-img {
    display: none;
  }

  .digital-perk {
    margin-top: 2rem !important;
  }
  .about-perks {
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 640px) {
  /*Honey comb section*/
  .honeycomb-cell {
    flex: 0 0 100px !important;
    height: 55px;
    margin: 25px 2px 6px;
  }
  .body-third-part-details {
    text-align: left;
  }
}

@media only screen and (max-width: 520px) {
  .body-first-details-col {
    display: flex;
    flex-direction: column;
    padding: 0 1rem !important;
  }

  .body-first-details-row {
    padding-left: 0;
  }

  .management-span {
    display: flex;
    flex-direction: column;
  }
  .body-first-details-row {
    flex-direction: column;
    text-align: center;
  }
  .register-btn-col {
    justify-content: center;
  }

  /*ABOut us part*/
  .about-perks {
    margin: 0;
  }

  /*Honey comb section*/
  .body-third-part {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0 !important;
  }

  .body-third-part-details h2 {
    margin-left: 2rem !important;
  }

  .body-third-part-details h6 {
    margin-left: 2rem !important;
  }

  .body-third-part-details p {
    margin-left: 2rem !important;
  }

  .honeycomb-container {
    max-width: 800px;
  }
  .honeycomb {
    width: 100%;
    max-width: 800px;
  }
  .honeycomb-cell {
    flex: 0 0 100px !important;
    height: 55px;
    margin: 25px 1px 4px;
  }
  .honeycomb-text {
    font-size: 0.5rem !important;
  }
  .honeycomb-cell img {
    height: 25px;
    width: 25px;
  }
  .sms-wave {
    height: 160%;
  }

  /*why us section*/
  .whyus-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /*login-screen-header*/
  .login-blob {
    width: 90vw;
  }
}

@media only screen and (max-width: 450px) {
  .body-first-details-row {
    text-align: left;
    padding-left: 1.5rem;
  }
  .register-btn-col {
    justify-content: left;
  }
  /*Honeycomb section*/
  .body-third-part {
    padding-left: 0;
    padding-right: 0;
  }
  .honeycomb-cell {
    flex: 0 0 80px !important;
    height: 50px;
    margin: 25px 1px 4px;
  }
  .honeycomb-text {
    font-size: 0.5rem !important;
  }
  .honeycomb-cell img {
    height: 30px;
    width: 30px;
  }

  /*WHY us section*/
  .whyus-icons {
    gap: 0.5rem;
  }
  .whyus-gears {
    gap: 0;
  }
  .whyus-arrows {
    gap: 5rem;
  }
  .whyus-headings {
    padding-left: 0 !important;
  }
  .sms-wave {
    height: 180%;
  }
  .body-third-part {
    padding-bottom: 2rem;
  }

  /*Navbar Dropdown*/
  .nav-link {
    padding-left: 0 !important;
    margin-left: 1rem !important;
  }
  .login-btn {
    margin-left: 0.5rem !important;
  }
  /*Footer Section*/
  .btn-body-fifth_1st,
  .btn-body-fifth_2nd {
    font-size: 0.7rem !important;
  }

  /*login-screen-header*/
  .login-blob {
    display: none;
  }
  .login-screen-header {
    display: none;
  }
  .login-screen-container {
    background-color: #fff;
  }
  .login-screen {
    box-shadow: none;
  }
  .login-header {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .login-mobile-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .login-log-btn {
    max-width: 100%;
  }

  /*Register Screen Part*/
  .register-form {
    max-width: 350px !important;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
  }

  .register-submit-btn {
    margin-left: 6rem;
  }
}
